:root {
    --etiles-primary-color: #f37e21;
    --etiles-nav-color: #023047;
    --etiles-footer-color: #141212;
    --etiles-page-header-url: "";
    --etiles-page-header-title: "";
    --etiles-page-header-path: "";
}

::selection {
    color: white;
    background: var(--etiles-primary-color);
}

img {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

* {
    box-sizing: border-box;
    margin: 0px;
}

.preview__header {
    overflow: hidden;
}

.gradient {
    position: relative;
    background-color: rgba(28, 12, 6, 0.45);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slideshow-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    animation: textanimation 40s infinite;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slideshow-image-body{
    position: absolute;
    top:calc(50% - 100px);
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width:fit-content;
    display: block;
    color: white;
    z-index: 2;
    animation: textanimation 10s infinite;
}
.slideshow-image-body h2{

    font-size: 80px;
}
.slideshow-image-body-button-contanier{
    font-size: 18px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.slideshow-image-body-button{
    background-color: var(--etiles-primary-color);
    padding: 22px 45px 21px;
    border-radius: 40px;
}
@keyframes textanimation {
    0% {

        transform: translateY(60px);
        opacity: 0;
    }

    30% {
        opacity: 1;
        transform: translateY(0px);
    }
    93.75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

.slideshow-image:nth-child(1) {
    -webkit-animation-name: kenburns-1;
    animation-name: kenburns-1;
    z-index: 3;
}

.slideshow-image:nth-child(2) {
    -webkit-animation-name: kenburns-2;
    animation-name: kenburns-2;
    z-index: 2;
}

.slideshow-image:nth-child(3) {
    -webkit-animation-name: kenburns-3;
    animation-name: kenburns-3;
    z-index: 1;
}

.slideshow-image:nth-child(4) {
    -webkit-animation-name: kenburns-4;
    animation-name: kenburns-4;
    z-index: 0;
}

@keyframes kenburns-1 {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    1.5625% {
        opacity: 1;
    }

    20% {
        opacity: 1;
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
    }

    23% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    98.4375% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        opacity: 1;
    }
}

@keyframes kenburns-2 {
    23% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    26.5625% {
        opacity: 1;
    }
    43%{
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }

    48% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}

@keyframes kenburns-3 {
    48% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    51.5625% {
        opacity: 1;
    }
    68%{
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }
    73% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}

@keyframes kenburns-4 {
    73% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    76.5625% {
        opacity: 1;
    }
    93%{
        -webkit-transform: scale(1.15);
        transform: scale(1.15);

    }

    98% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



.logo {
    padding: 10px;
    padding-top: 20px;
    padding-left: 30px;

}

#nav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    /* background-color: var(--etiles-nav-color); */
    height: 100px;
    display: flex;
    z-index: 3;
}

.nav_button_name {
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    /* font-weight: bolder; */
    margin: 10px;
    transition-duration: 500ms;
}

.nav_button_name:hover {
    color: var(--etiles-primary-color);
    cursor: pointer;
    /* border: var(--etiles-nav-color) 2px solid; */
    border: rgba(0, 0, 0, 0) 2px solid;
    border-radius: 5px;
    padding: 10px;
    transition-duration: 500ms;
}

a {
    text-decoration: none;
    color: inherit;
}

#nav_button_container {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    max-width: 1000px;
}

.nav_icon_container {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    max-height: 0px;
    overflow: hidden;
    position: absolute;

    margin-left: -10px;
    padding-top: 20px;
    min-width: 160px;
    z-index: 100;
    box-sizing: border-box;
}

.dropdown-content a:nth-child(2n) {
    background-color: #faf1e9;
}

.dropdown-content a:nth-child(2n+1) {
    background-color: white;
}

.dropdown-content a {
    box-sizing: border-box;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.603);
    background-color: var(--etiles-primary-color);
    color: white;
    cursor: pointer;
    /* border: var(--etiles-primary-color) solid 1px; */
}

.dropdown:hover .dropdown-content {
    max-height: 100vh;
    transition-duration: 1500ms;
}

.icon {
    padding-right: 50px;
    color: white;
    cursor: pointer;
    font-size: 40px;
}

#mobile_nav_content_container {

    width: calc(30px + 280px + 10px);
    height: 100vh;

    position: fixed;
    top: 0px;
    right: calc(-30px - 280px - 10px);

    box-sizing: border-box;
    padding: 30px 10px 30px 30px;

    background-color: #0b0b0c;
    color: white;
    overflow: auto;
    z-index: 10;
}

#mobile_nav_content_close_icon {
    padding: 0px;
    float: right;
}

#mobile_nav_content_logo {
    width: 60px;
    padding: 0px;
    padding-bottom: 40px;
}

.mobile_nav_content_heading {
    color: var(--etiles-primary-color);
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.mobile_nav_content_text {
    line-height: 32px;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.7);
}


/* footer */
.footer_Subscribe_bar {
    padding: 30px;
    padding-top: 120px;
    height: calc(120px + 200px);
    background-color: var(--etiles-footer-color);
    display: flex;
    justify-content: center;
}

.footer_Subscribe_bar_text {
    width: 50%;
    padding: 15px;
    max-width: calc(15px + 555px + 15px);
    /* border: white solid 1px; */
}

.footer_Subscribe_bar_email {
    width: 50%;
    max-width: calc(15px + 555px + 15px);
    padding: 0px 15px;
    position: relative;

}

.footer_Subscribe_bar_email input {


    width: 100%;
    height: 65px;
    padding: 0 30px;
    padding-right: 100px;
    background: #f3f3f3;
    border: none;
    color: rgba(14, 16, 13, 0.5);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    border-radius: 40px;
    transition: all 500ms ease;
    font-family: 'Kumbh Sans', sans-serif;
    outline: none;
}

.footer_Subscribe_bar_email button {
    border: none;
    position: absolute;
    top: 0px;
    right: 15px;
    bottom: 0px;
    /* left: -73px; */
    width: 85px;
    height: 65px;
    color: #ffffff;
    font-size: 20px;
    line-height: 65px;
    font-weight: 700;
    border-radius: 40px;
    background: var(--etiles-primary-color);
    transition: all 300ms ease 100ms;
}

.footer_Subscribe_bar_email button:hover {
    background-color: var(--etiles-nav-color);
    cursor: pointer;
}

.footer_contact_us_container {
    padding: 30px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
    background-image: url("photos/footer.jpg");
    min-height: 395px;
    height: calc(250px + 65px);

}

.footer_contact_us {
    /* border: #c7c7c7 solid 1px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
}

.footer_contact_us>div {
    padding-bottom: 65px;

}

.footer_contact_us p {
    color: rgba(255, 255, 255, 0.9);
    font-size: 23px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 8px;
    transition: 300ms;

}

.footer_contact_us p:hover {
    color: var(--etiles-primary-color);
    transition: 300ms;
    cursor: pointer;
}

.footer_contact_us h2,
.footer_Subscribe_bar_text h2 {
    color: #ffffff;
    font-size: 31px;
    line-height: 34px;
    font-weight: 400;
    margin-bottom: 24px;
    margin-top: -7px;
    max-width: 400px;
}

.footer_contact_us_info {
    width: 33.33%;
}

.footer_contact_us_info p {
    text-align: justify;
}

.footer_contact_us_info_logo {
    height: 100px;
    margin-bottom: 15px;
}

.footer_contact_us_Services {
    width: 20%;
}

.footer_contact_us_QuickLinks {
    width: 20%;
}

.footer_contact_us_GetInTouch_container {
    width: 26.66%;
}

.footer_contact_us>div:nth-child(1) {
    padding-right: 40px;
}

.footer_contact_us>div:nth-child(2) {
    display: none;
}

.footer_contact_us_GetInTouch_icon_container {
    max-width: 300px;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
}

.footer_contact_us_GetInTouch_icon {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}

.footer_contact_us_GetInTouch_icon:hover {
    background-color: var(--etiles-primary-color);
    color: #ffffff;
    cursor: pointer;
    transition-duration: 0.5s;
}

.footer_contact_us_GetInTouch_icon_container a {
    text-decoration: none;
    color: initial;
}

#whatappIcon {
    position: fixed;
    bottom: 18px;
    right: 14px;
    z-index: 1050;
    background-color: #4caf50;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 5px 5px 5px rgb(28, 27, 27); */
}

#whatappIcon:hover {
    cursor: pointer;
}

.about_us_web_page_body {
    padding: 150px 100px;
    padding-bottom: 0px ;
    /* background-color: #4caf50; */
}

.about_us_img {
    width: 50%;
    /* border: #0b0b0c solid 1px; */
}

.shadow {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

}

.about_us_body {
    /* background-color: #f380217f; */
    display: flex;
    /* background-color: #f38057; */
}

.about_us_img {
    /* background-color: #02304751; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: #4caf50; */
}

.about_us_img_container {
    width: 50%;
    padding: 0px 15px;
    height: calc(550px + 225px);

}

.about_us_info {
    width: 100%;
}

.about_us_info_container {
    width: 50%;
    padding: 0px 15px;
    height: calc(550px + 225px);
    ;
}

.dotedimg {
    z-index: 0;
    position: relative;
    top: -75px;
    left: -200px;

}

.about_us_img1 {
    z-index: 2;
}

.about_us_img2 {
    display: flex;
    justify-content: center;
    position: relative;
    top: -500px;
    z-index: 3;
}

.section_heading_title {
    padding-left: 10px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
}

.section_heading_title::before {
    position: relative;
    right: 7px;
    bottom: 7px;
    font-size: xx-large;
    content: "__";
    color: var(--etiles-primary-color);
}

.section_heading {
    font-size: 40px;
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 27px;
}

.about_us_info_detail_p {
    font-weight: 500;
    color: #0b0b0c;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
}

.about_us_info_flip {
    padding: 0px;
    padding-top: 40px;
}

.about_us_info_flip li {
    display: flex;
    align-items: center;
    font-family: var(--alori-font);
    color: rgba(11, 11, 12, 0.9);
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 15px;
    background-color: #faf1e9;
}

.about_us_info_flip_icon {
    font-size: 40px;
    padding: 10px;
    padding-right: 20px;
}

.about_us_info_flip_title {
    font-size: 18px;
    line-height: 28px;
}



.page_header {
    position: relative;
    display: block;
    padding: 123px 0px 171px;
    overflow: hidden;
    z-index: 1;
    height: 530px;
    background-image: var(--etiles-page-header-url);
    background-size: cover;
}

.page_header__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-image: -moz-linear-gradient(-1deg, rgb(0, 0, 0) 0%, rgba(10, 6, 2, 0) 100%);
    background-image: -webkit-linear-gradient(-1deg, rgb(0, 0, 0) 0%, rgba(10, 6, 2, 0) 100%);
    background-image: -ms-linear-gradient(-1deg, rgb(0, 0, 0) 0%, rgba(10, 6, 2, 0) 100%);
    opacity: 0.78;
    z-index: -1;
}

.page_header_container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

    max-width: 1200px;
    height: 530px;
    line-height: 32px;


    font-size: 18px;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}


.page_header__wrapper {
    padding: calc(123px + 80px) calc(0px + 29px) 171px;
    position: relative;
    display: block;
    z-index: 2;
}

.page_header__content {
    position: relative;
    display: block;
}

.page_header__content h2 {
    font-family: 'Domine', serif;
    color: white;
    font-size: 76px;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 19px;
    /* content: var(--etiles-page-header-title); */
}

.page_header__content h2::before {
    content: var(--etiles-page-header-title);
}

.page_header__menu ul::before {
    content: var(--etiles-page-header-path);
}

.page_header__menu {
    position: relative;
    display: block;
}

.page_header__menu ul {
    font-family: 'Kumbh Sans', sans-serif;
    ;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    padding-left: 3px;
    padding-right: 7px;
    padding-inline-start: 0px;
    list-style: none;
    text-decoration: none;
}

.page_header__menu ul {
    padding: 0px;
}

.contact_us_get_in_touch {
    box-shadow: 0 0 .125rem .125rem rgba(0, 0, 0, .075) !important;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    margin-bottom:50px;
}
body{
    overflow-x: hidden;
}
.contact_us_get_in_touch_container {
    overflow: hidden;
    display: flex;
}

.contact_us_get_in_touch_container p {
    font-size: 17px;
    line-height: 31px;
    font-family: 'Kumbh Sans', sans-serif;
}

.contact_us_get_in_touch_contact {
    padding-top: 30px;
    width: 460px;
    margin: 20px;
    /* background-color: #4caf50; */
}

.contact_us_get_in_touch_form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.contact_us_get_in_touch_send_message {
    box-shadow: 0px 0px 24px 0px rgb(192 198 204 / 35%);
    margin-left: 5%;
    padding: 30px 40px;
    margin: 20px;
    width: 650px;
    /* background-color: var(--etiles-primary-color); */
}

.contact_us_get_in_touch_header {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 28px;
    margin-bottom: 14px;
    font-weight: 100;
    color: #392917;
}

.contact_us_get_in_touch_send_message input,
.contact_us_get_in_touch_send_message textarea {
    padding: 0px 20px;
    height: 50px;
    border-radius: 1px;
    margin-bottom: 20px;
    background-color: #f5f4f4;
    font-size: 16px;
    width: 100%;
    border: none;
}

.contact_us_get_in_touch_send_message textarea {
    height: 100px;
    padding: 20px;

}

.contact_us_get_in_touch_send_message button {
    font-size: 16px;
    color: white;
    background-color: #128EC2;
    padding: 15px 30px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;

    border: none;
}

.contact_us_get_in_touch_send_message button:hover {
    background-color: var(--etiles-primary-color);
    transition-duration: 300ms;
}

.contact_us_get_in_touch_send_message input:focus,
.contact_us_get_in_touch_send_message textarea:focus
{
    outline: none !important;
    background-color: white;
    border: solid var(--etiles-primary-color) 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.contact_us_get_in_touch_send_message input[type='text'] {
    width: 48%;
}

.contact_us_get_in_touch_box {
    border-radius: 5px;
    background-color: #f5f4f4;
    margin-bottom: 30px;
    max-height: 165px;
    max-width: 385px;
    width: 100%;
    height: 100%;
}

.contact_us_get_in_touch_box>div {
    padding: 36px 20px 46px;
    display: flex;
}

.contact_us_get_in_touch_box_icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone_icon {
    background-color: #fba819;
}

.map_icon {
    background-color: #7bcf99;

}

.contact_us_get_in_touch_box_icon i {
    color: white;
    font-size: 30px;
}

.contact_us_get_in_touch_box div:nth-child(2) {
    flex-grow: 1;
    max-width: 270px;
    padding-left: 15px;
}

.contact_us_get_in_touch_box div:nth-child(2) h3 {
    font-weight: 100;
    font-size: 24px;
    padding-bottom: 7px;
    flex-grow: 1;
    margin-bottom: 7px;
    border-bottom: #0000001c solid 1px;
}

.contact_us_get_in_touch_contact>p {
    margin-bottom: 24px;
}


.contact_us_contact {
    display: flex;
    justify-content: center;
}

.contact_us_contact_container {
    position: relative;
    background-color: white;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    margin-top: 150px;
    padding: 20px;
    width: 100%;
    max-width: 1180px;
}

.contact_us_contact_card_container {
    flex-wrap: wrap;
    display: flex;
}

.contact_us_contact_card {
    border-left: solid var(--etiles-primary-color) 2px;
    /* border: #4caf50 solid 1px; */
    padding: 15px;
    /* height: 100px; */
    width: 25%;
}

.contact_us_contact_card_container div:first-child {
    /* background-color: #023047; */
    border: none;
}

.contact_us_contact_card_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    padding-bottom: 8px;
}

.contact_us_contact_card_icon i {
    color: var(--etiles-primary-color);
    font-size: 30px;
}

.contact_us_contact_card h3 {
    text-align: center;
    font-size: 18px;
    padding-bottom: 8px;
    letter-spacing: 1px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 100;
}

.contact_us_contact_card_line_conatainer {
    display: flex;
    justify-content: center;
}

.contact_us_contact_card_line {
    background-color: var(--etiles-primary-color);
    height: 1.5px;
    width: 110px;
    margin-bottom: 8px;
}

.contact_us_contact_card p {
    line-height: 25px;
    text-align: center;
}


.calculator {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: center;
}

.calculator_container {
    width: 100%;
    max-width: 1180px;
    padding: 30px;
}

.calculator_card_container {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
}

.calculator_card_calculator {
    color: white;
    background-color: var(--etiles-primary-color);
    /* width: 525px; */
    width: 700px;
    margin-right: 15px;

    padding: 40px 50px 20px 50px;
    position: relative;
}

.calculator_card_calculator::after {
    content: '';
    position: absolute;
    border: 25px solid var(--etiles-nav-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
    left: 0;
    top: 0;
    transition: 0.5s;
    z-index: 1;
    transition: 0.5s;
}

.calculator_card_calculator::before {
    content: '';
    position: absolute;
    border: 25px solid var(--etiles-nav-color);
    border-top-color: transparent;
    border-left-color: transparent;
    right: 0;
    bottom: 0;
    transition: 0.5s;
    z-index: 1;
    transition: 0.5s;
}

.calculator_card_result {
    color: white;
    background-color: var(--etiles-primary-color);
    padding: 40px 20px;
    width: 400px;
    min-width: 300px;
    position: relative;
}

.calculator_card_result::after {
    content: ' ';
    position: absolute;
    border: 25px solid var(--etiles-nav-color);
    border-top-color: transparent;
    border-left-color: transparent;
    right: 0;
    bottom: 0;
    transition: 0.5s;
    z-index: 1;
    transition: 0.5s;
}

.calculator_card_result::before {
    content: '';
    position: absolute;
    border: 25px solid var(--etiles-nav-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
    left: 0;
    top: 0;
    transition: 0.5s;
    z-index: 1;
    transition: 0.5s;
}

.calculator_card_heading {
    margin-bottom: 24px;
    font-size: 1.3em;
    text-align: center;
}

.calculator_card_message {
    font-size: 1.3em;
    margin-bottom: 24px;
}

.calculator_form input,
.calculator_form label,
.calculator_form select {
    width: 100%;
}

.calculator_form label {
    display: inline-block;
    margin-bottom: 8px;
}

.calculator_form input,
.calculator_form select {
    font-size: 16px;
    border: none;
    border-radius: 0.25rem;
    height: 40px;
    padding: 6px 15px;
}

.calculator_form input:focus,
.calculator_form select:focus {
    outline: none;
}

.calculator_form_measurements {
    display: flex;
}

.calculator_form_length {
    padding-right: 15px;
    width: 50%;
    margin-bottom: 16px;
}

.calculator_form_width {
    padding-left: 15px;
    width: 50%;
    margin-bottom: 16px;
}

.calculator_form_selcet {
    /* padding: 0px 15px;*/
    margin-bottom: 16px;
}

.calculator_form_button {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding: 0px 15px
}

.calculator_form_button button {
    font-size: 16px;
    margin: 10px 8px;
    padding: 10px 20px;
    border-radius: 0.25rem;
    border: none;
    background-color: var(--etiles-nav-color);
    color: white;
}

.calculator_form_button button:hover {
    cursor: pointer;
}

.calculator_card_result p {
    font-size: 16px;
    margin-bottom: 8px;
    text-align: center;
}

.calculator_card_result_box {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: solid 1px var(--etiles-nav-color);
}

.calculator_card_result_box div {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 8px;
    font-weight: 700;
}


.packing_list {
    /* background-color: #4caf50; */
    margin: 100px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.packing_list_container {
    background-color: white;
    position: relative;
    margin: 0px 30px;
    /* background-color: #f37e21; */
    /* overflow: auto; */
}

.packing_list_dotedImg {
    position: absolute;
    left: -81px;
    top: -74px;
    z-index: -1;
    transform: rotate(90deg);
}
.pallet_table_container {
    overflow: auto;
    max-width: calc(100vw - 60px);
}
.pallet_table {
    min-width: 1000px;
    max-width: 1180px;
    margin-bottom: 50px;
    margin-top: 10px;
    width: 100%;
}
.pallet_table_row_head th {
    padding: 5px 2px;
    background-color: #fba819;
    color: white;
    border: white solid 1px;
    height: 40px;

}
.pallet_table_row td {
    padding: 5px;
    text-align: center;
    border: #0b0b0c21 solid 1px;
}
#update {
    top: 148px;
    transform: rotate(0deg);
}
.service {
    margin: 100px 50px;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: center;
}
.service_container {
    width: 100%;
    max-width: 1180px;
}
.service_card_container {
    margin-left: -15px;
    display: flex;
}
.service_card {
    position: relative;
    box-shadow: 0px 0px 26px 0px rgba(215, 212, 212, 0.35);
    width: 33.33%;
    padding: 20px;
    margin: 0px 15px;
}

.service_card:hover .service_card_img {
    transform: rotateY(180deg);
}

.service_card_img_container {


    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.service_card_img_container img {
    display: inline-block;
    transition: all 500ms ease;
    border: black solid 1px;
    padding: 12px;
}

.service_card h2 {
    text-align: center;
    margin-bottom: 16px;
}

.service_card p {
    line-height: 21px;
    font-size: 14px;
    text-align: center;
}

.service_card::after {
    content: '';
    position: absolute;
    border: 25px solid var(--etiles-nav-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
    left: 0;
    top: 0;
    transition: 0.5s;
    z-index: 1;
    transition: 0.5s;
}

.service_card::before {
    content: '';
    position: absolute;
    border: 25px solid var(--etiles-nav-color);
    border-top-color: transparent;
    border-left-color: transparent;
    right: 0;
    bottom: 0;
    transition: 0.5s;
    z-index: 1;
    transition: 0.5s;
} 


.your_project_one_wrapper{
    display: flex;
    justify-content: center;
    /* background-color: #4caf50; */
}
.your_project_one_wrapper_container{
    max-width: 1180px;
    background-color: #fff9f1;
    padding: 10px;
    margin-top: -145px;
    z-index: 1;
}
.your_project_one_wrapper_content{
    border: solid black 1px;
    padding: 70px 35px 50px 20px;
    display: flex;
    flex-wrap: wrap;
}
.your_project_one_wrapper_contact_us_container{
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
}
.your_project_one_wrapper_contact_us{
    display: flex;
    position: relative;
    /* padding-left: 40px; */
    /* border-right: solid #ece7e3 1px; */
}
.your_project_one_wrapper_contact_us_container:after{
    content: "";
    position: absolute;
    top: -35px;
    right: 0;
    bottom: -20px;
    width: 1px;
    background: #ece7e3;
    /* background: black; */
    z-index: 2;
}
.your_project_one_wrapper_contact_us_icon_wrapper{
    display:flex;
    align-items: center;
    padding: 10px;
    margin-right:30px;
    background-color: #f8ece1;
    border-radius: 50%;
}
.your_project_one_wrapper_contact_us_icon{
    background-color: var(--etiles-primary-color);
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 120px;
    height: 120px;
    color: white;
}
.your_project_one_wrapper_contact_us_icon{
    /* cursor:default; */
}
.your_project_one_wrapper_catalogue{
    display: flex;
    width:50%;
    padding-left: 40px;
}
.your_project_one_wrapper h2{
    /* max-width: 250px; */
    font-size:28px ;
    margin-bottom: 15px;
}
.your_project_one_wrapper p{
    font-size: 20px;
    line-height: 34px;
}
.your_project_one_wrapper_catalogue_button{
    display: flex;
    align-items: center;
}
.your_project_one_wrapper_catalogue_button>div{
    padding:20px 30px 20px 30px;
    background-color: var(--etiles-primary-color);
    color: white;
    border-radius:40px;
    margin-left:20px ;
    font-size: 20px;
}




.catalogues_container{
    /* justify-content: space-evenly; */
    display: flex;
    flex-wrap: wrap;
}
.catalogue_card{
    text-transform: uppercase;
    color: white;
    width: 265px;
    margin:10px;
    margin-top: 0px;
    background-image: url('photos/footer.jpg');
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* box-shadow: 0px 0px 26px 0px rgba(215, 212, 212, 0.35); */
}
.catalogue_card_body{
    /* background-color: var(--etiles-primary-color); */
}
.catalogue_card_logo{
    padding:45px 30px;
    display: flex;
}
.catalogue_card_logo img{
    width:40px;
    margin-bottom: 40px;
}
.catalogue_card_logo div{
    padding-left: 20px;
    /* color: white; */
    font-size: 37px;
}
.catalogue_card_type{
    text-align: center;
    margin-bottom: 50px;

}
.catalogue_card_type h1{
    margin-left: 15px;
    margin-right: 15px;

    border-bottom: 1px solid white;
    /* color: white; */
    /* border-bottom: solid white 2px; */
}
.catalogue_card_size{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;    
    margin-bottom:50px ;
}
.catalogue_card_size span{
    padding-left: 5px;
    padding-right: 5px;
    /* color: white; */
    /* background-color: #6f6f6f; */
    background-color:#f16e01;
    
}
.catalogue_card_action_option{
    /* color: white; */
    /* background-color: #023047; */
    /* background-color:var(--etiles-footer-color) */
}
.catalogue_card_name{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50px;
    text-align: center;
    border-bottom: white solid 1px;
}
.catalogue_card_action_button{
    display: flex;
}
.catalogue_card_action_button div{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 50%;
}
.catalogue_card_action_button div:first-child{
    border-right: white solid 1px;   
}

.backgroundMap{
    background-image: url("photos/map.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.index_contact_img_container{
    overflow:hidden;
    width:700px;
    position: relative;
}
.index_contact_img_message{
    color: white;
    font-size: 25px;
    border:white dashed 2px;
    background-color: var(--etiles-primary-color);
    border-radius: 50%;
    position: absolute;
    bottom: 70px;
    right: 70px;
    height: 200px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-evenly;
}

.index_contact_img_message h1{
    font-size: 80px;
    margin-bottom: -29px;
    letter-spacing: 3px;
    /* height: 50%; */
    /* background-color: #023047; */
}
.index_contact_img_message p{
    
    margin-bottom: 20px;
    font-size: 25px;

    /* height: 50%; */
    /* background-color: #128EC2; */
}
.title_padding{
    display:none;
}
.openNavButton{
    display: none;
}
.displaynone{
    display: none !important;
}
.rightArrowIcon{
    display: none !important;
}
.cataloue_container{
    /* background-color: #023047;s */
    /* max-width: 1500px; */
    /* display: flex;
    justify-content: space-evenly; */
}
.cataloue_section{
    padding: 30px;
    padding-top: 50px;
    /* background-color: #f16e01; */
    display: flex;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
}
.underline{
    margin-left: 10px;
    margin-bottom: 10px;
    Text-decoration:underline;
}
/* 
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}
.js-loading  {
    display: block;
  }
  #loading{
    background-color: #023047;
  } */
  /* .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(88, 18, 18);
    font-size: 48px;
    display: none;
  } */
@media only screen and (max-width: 1350px) {
    .about_us_web_page_body {
        padding: 150px 50px;
    }

}
@media only screen and (max-width: 1250px) {
    .about_us_web_page_body {
        padding: 150px 0px;
    }
}
@media only screen and (max-width: 1200px){
    .contact_us_get_in_touch_send_message{
        width:600px;
    }
    .contact_us_get_in_touch_contact{
        width: 400px;
    }
}
@media only screen and (max-width: 1100px) {
    .about_us_body {
        flex-direction: column;
        align-items: center;
        /* width: ; */
    }
    #nav_button_container{width: 70%;}
    .about_us_web_page_body {
        padding: 150px 0px;
    }

    .about_us_info_container {
        width: 70%;
    }

    .about_us_img_container {
        width: 100%;
    }

    .service_card_container {
        margin: 0px;
        align-items: center;
        flex-direction: column;
    }

    .service_card {
        margin: 15px;
        width: 720px;
    }
    .contact_us_get_in_touch_send_message{
        width: 500px;
        /* margin-left: -10px; */
    }
}
@media only screen and (max-width: 990px) {
    .contact_us_get_in_touch_send_message{
        /* width: 500px; */
        margin-left: -10px;
    }
}
@media only screen and (max-width: 950px) {
    .contact_us_get_in_touch_container {
        flex-direction: column;
        align-items: center;
    }
    .contact_us_get_in_touch_send_message{
        margin: 20px;
        width: 90%;
        max-width: 900px;
        margin: 0px;
    }
    .contact_us_get_in_touch_contact{
        width: 90%;
        max-width: 900px;
    }
    .contact_us_get_in_touch{
        padding-bottom: 0px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .slideshow-image-body h2 {
        font-size: 60px;
    }
    /* .contact_us_get_in_touch_contact>div{width: 50%;} */
}
/* teblet */
@media only screen and (max-width: 768px) {
    #nav_button_container {
        padding-left: 20px;
    }
    .gradient {
        width: auto;
        height: 530px;
    }
    .footer_contact_us_container {
        background-image: none;
        height: auto;
        background-color: var(--etiles-footer-color);
    }
    .footer_contact_us {
        justify-content: space-between;
    }
    .footer_contact_us>div:nth-child(1) {
        width: 60%;
    }
    .footer_contact_us>div:nth-child(2) {
        width: 40%;
        display: block;
    }
    .footer_contact_us>div:nth-child(3) {
        width: 50%;
        text-align: center;
    }
    .footer_contact_us>div:nth-child(4) {
        width: 50%;
        text-align: center;
    }
    .footer_contact_us>div:nth-child(5) {
        display: none;
    }
    .contact_us_contact_card{
        width: 50%;
    }
    .contact_us_contact_card_container div{
        margin: 10px 0px;
    }
    .contact_us_contact_card:nth-child(3){
        border: none;
    }
    .contact_us_get_in_touch_box_icon{
        margin: 10px;
    }
    .service_card {
        width: 540px;
    }
    .calculator_card_calculator {
        padding:40px 29px 20px 30px ;
    }
    .your_project_one_wrapper_container{
        margin-top: 50px;
    }
    .your_project_one_wrapper_catalogue,
    .your_project_one_wrapper_contact_us_container{
        flex-direction: column;
    }
    .your_project_one_wrapper_catalogue_button{
        margin-top: 20px;
    }

}
@media only screen and (max-width: 700px){
    .calculator_card_container{flex-direction: column;}
    .calculator_card_container>div{
        margin: 10px 0px;
        width: 100%;
    }
    .calculator_container p{
        text-align: center;
    }
}
@media only screen and (max-width: 700px){
    .calculator_card_container{flex-direction: column;}
}

@media only screen and (max-width: 650px) {
    .nav_icon_container i {
        padding-right: 5px;
    }
    .contact_us_get_in_touch_send_message {
        margin: 10px;
        padding-left:20px;
        padding-right:20px;
        width: 100%;
    }
    .about_us_info_container{
        width: 100%;
    }

    .dropdown-content{
        max-height: 0px;
    }
}
@media only screen and (min-width: 550px) {
    .dropdown-content{
        max-width: 0px;
    }
}
@media only screen and (max-width: 550px) {
    .about_us_img1 img {
        width: 100%;
    }

    .dotedimg img {
        width: 100%;
    }

    .about_us_img2 img {
        width: 100%;
    }

    .nav_icon_container i {
        display: flex;
        align-items: center;
        padding-right: 10%;
    }

    .nav_icon_container i::before {
        font-size: xx-large;
    }

    #nav_button_container {
        display: flex;
        position: fixed;
        background-color:#0b0b0c;
        height: 100vh;
        width: 320px;
        top:0px;
        right: calc(-30px - 280px - 10px);
        flex-direction: column;
        padding: 15px;
        justify-content: initial;
    }
    .nav_button_name{
        /* background-color: #023047; */
        height: 47px;
        display: flex;
        padding: -1px 15px;
        /* justify-content: space-between; */
        /* align-items: center; */
        max-width: 100%;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .nav_button_name:hover {
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        /* border-radius: 5px; */
        /* transition-duration: 500ms; */
    }
    .rightArrowIcon{
        display: flex !important;
    }
    .nav_button_name:hover .rightArrowIcon{
        font-weight: 900;
        background-color: white;
        transform: rotate(90deg);
    }
    .displaynone{
        display: flex !important ;
    }
    #nav_button_container i:first-child{
       align-self:flex-end;
       padding: 0px 15px;
       font-size: 29px;
    }
    .dropbtn{
        display: flex;
        justify-content: space-between;
    }
    .dropbtn i{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--etiles-primary-color);
        font-size:10px;
        width: 28px;
        height: 28px;
    }
    .dropdown{
        display: table;
        /* flex-direction: column; */
        text-align: left;
    }
    
    .dropdown-content{
        overflow: hidden;
        max-height: 0px;
        display: block;
        position:static;
        /* padding: 20px 0px; */
    
        /* background-color: #023047; */
    }
    .dropdown-content >div{
        padding: 10px 5px;
        text-align: left;
    }
    .dropdown-content a:nth-child(n){
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-left: 30px;
        height: 47px;
        background-color:transparent;
        color: white;
    }
    .openInfo{
        display: none;
    }
    .openNavButton{
        display: flex;
    }

    #page_header__content h2 {
        font-size: 100%;
    }

    .service_card {
        align-items: center;
        width: 100%;
    }
    .contact_us_get_in_touch_box{
        max-width: 100%;
    }
    .contact_us_get_in_touch_contact{
        width: 100%;
    }
    .contact_us_get_in_touch{
        padding-left: 20px;
        padding-right: 20px;
    }
    .contact_us_get_in_touch_contact{margin:0px;}
    .your_project_one_wrapper{display: none;}
    .footer_contact_us_GetInTouch_icon_container{flex-wrap: wrap;}
}
/* mobile L */
@media only screen and (max-width: 426px) {
    #nav {
        height: 75px;
    }
    .contact_us_get_in_touch_contact {
        width: 100%;
    }
    .gradient {
        animation: none;
        height: 300px;
    }
    .page_header {
        background-size: 266% auto;
        background-repeat: no-repeat;
        height: auto;
    }
    .about_us_info_container {
        width: 100%;
    }
    .service {
        margin: 15px;
    }
    .section_heading {
        text-align: center;
        font-size: 23px;
        line-height: 26px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 22px;
    }
    .section_heading_title {
        display: none;
    }

    .packing_list_dotedImg {
        display: none;
    }

    .page_header__bg {

        background-size: 266% auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page_header__content h2 {
        font-size: xx-large;
    }

    .page_header__wrapper {
        padding: 0px;
    }

    .page_header_container {
        height: auto;
    }

    .dotedimg {
        display: none;
    }

    .about_us_img2 {
        position: static;
    }

    .footer_contact_us p {
        font-size: 18px;
    }



    .footer h2 {
        font-size: 20px;
    }

    .footer_Subscribe_bar {
        display: block;
        height: auto;
        padding: 15px 0px;
    }
    .footer_contact_us_info{
        padding: 15px 0px;
    }
    .footer_Subscribe_bar_text h2,
    .footer_contact_us_container h2{
        font-size:24px ;
    }
    .footer_contact_us_container{
        padding: 0px;
    }
    .footer_Subscribe_bar_text {
        width: 100%;
    }

    .footer_Subscribe_bar_email {
        width: 100%;
    }

    .footer_contact_us>div:nth-child(1) {
        padding:15px;
        width: 100%;
    }

    .footer_contact_us>div:nth-child(2) {
        display: none;
    }

    .footer_contact_us>div:nth-child(3) {
        width: 45%;
        padding-bottom: 15px;
        text-align: center;
    }

    .footer_contact_us>div:nth-child(4) {
        width: 45%;
        text-align: center;
    }

    .footer_contact_us>div:nth-child(5) {
        padding: 20px 15px;
        display: block;
        width: 100%;
    }

    #whatappIcon {
        width: 50px;
        height: 50px;
    }
    .contact_us_get_in_touch_box>div{
        flex-direction: column;
    }
    .contact_us_get_in_touch_box{
        max-height:fit-content;
    }
    .contact_us_contact_card
    {
        width:100%;
        border: none;
        border-top: solid var(--etiles-primary-color) 2px;
    }
    .contact_us_contact_card:first-child
    {
        border: none;
    }
    .contact_us_contact_card:nth-child(3){
        border-top: solid var(--etiles-primary-color) 2px;
    }
    .calculator{
        margin-top: 0px;
    }
    .calculator_card_result{
        min-width: 0px;
    }
    .slideshow-image-body{
        top: calc(50% + -30px);
    }
    .slideshow-image-body p{
        font-size:10px;
    }
    .slideshow-image-body h2{
        font-size:27px;
    }
    .slideshow-image-body-button-contanier{
        margin-top: 29px;
    }
    .slideshow-image-body-button{
        padding: 12px 16px 12px;
    }
    .about_us_web_page_body {
        padding: 150px 0px;
    }
    .section_heading_title {
        display: block;
    }
    .calculator_container {
        padding: 15px;
    }
    .packing_list_container{
        margin:0px 15px;
    }
    .pallet_table_container{
        max-width: calc(100vw - 30px);
    } 
    .pallet_table_container{
        font-size: 9px;
    }
    .packing_list p{
        font-size: 11px;
    }
    .title_padding{
        display: block;
        padding-left: 30px;
    }
    .about_us_web_page_body{
        padding: 50px 0px;
    }
    .title_none{
        display: none;
    }
    .section_heading {
        margin-bottom: 12px;
    }
}
@media only screen and (max-width: 320px) {
    .footer_contact_us>div:nth-child(3) {
        width: 100%
    }

    .footer_contact_us>div:nth-child(4) {
        width: 100%
    }
    .section_heading{
        font-size: 18px;
    }
    .section_heading_title {
        font-size: 16px;
    }
}